@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Montserrat&family=Open+Sans&family=Oswald&family=Roboto:ital,wght@0,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  .App {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', san-serif;
    margin-top: 50px;
    transition: cubic-bezier();  
  }

  h1{
    font-size: 50px;
    font-family:  cursive;
    margin-bottom: 20px;
    background-color:gold;
}

.App form {
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.39);
  margin-bottom: 30px;
}

.App input {
  line-height: 40px;
  border-radius: 0 0 20px;
  border: none;
  width: 400px;
  padding: 0 20px;
}

.App input:focus {
  outline: navy;
}

.App button {
  line-height: 40px;
  border: none;
  background-color: aqua;
  padding: 0 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.App button:focus {
  outline: none;
}

.searchResultDiv {
  width: 800px;
  margin: o auto;
  text-align: center;
  margin-bottom: 20px;
}

.searchResultDiv h3 {
  box-shadow: 200px;
  color: aqua;
}

.searchResultDiv h3 a {
  color: azure;
  display: inline-block;
  line-height: 16px;
  text-decoration: none;
}

.searchResultDiv h3 a:hover {
  border-bottom: 3px solid;
}

